<h1> Welcome <%- username %> to chat room </h1>
<span id="notice"></span>
<ul id="own-message"></ul>
<ul id="board-cast"></ul>
<form id="my-form">
	<input type="text" placeholder="Enter your message" id="msg" required />
	<button type="submit">send</button>
	<a href="/logout"> Logout </a>

	<script src="/socket.io/socket.io.js"></script>

	<script defer>

		const socket = io();
		const form = document.getElementById("my-form");
		const input = document.getElementById("msg");
		const ownMessage = document.getElementById("own-message");
		const boardcast = document.getElementById("board-cast");
		const notice = document.getElementById("notice");

		socket.emit("new-user", "<%- username %>")
		socket.on("new-user-joined", (msg) => {
			notice.style.backgroundColor = "#ff0";
			notice.style.color = "#000"
			notice.innerText = msg + " joined";
		})

		form.addEventListener("submit", (e) => {
			e.preventDefault();
			if (input !== null && input.value !== null) {
				const li = document.createElement("li");
				const textNode = document.createTextNode(input.value)
				li.appendChild(textNode);
				ownMessage.appendChild(li)
				socket.emit("chat-message", "<%- username %>: " + input.value)
				input.value = ""
			}
		})

		socket.on("chat message", (msg) => {
			console.log(msg);
			if (msg !== null && msg !== "") {
				const li = document.createElement("li");
				const textNode = document.createTextNode(msg)
				li.appendChild(textNode);
				li.style.backgroundColor = "#00f"
				li.style.padding = "0.75rem"
				li.style.color = "#fff";
				boardcast.appendChild(li)
			}
		})
	</script>