<form method="POST" action="/login">
    <div class="from-group">
        <label for="username">Username: </label>
        <input type="text" name="username" required aria-required="true" />
    </div>
    <div class="from-group">
        <label for="password">Password: </label>
        <input type="password" name="password" required aria-required="true"/>
    </div>
    <button type="submit">login</button>
</form>