$primary: hsl(225, 95%, 7%);
$secondary: hsl(224, 90%, 12%);
$sucess: hsl(224, 90%, 12%);
$danger: hsl(224, 90%, 12%);
$warning: hsl(224, 90%, 12%);
$lipi: hsl(224, 90%, 12%);
$vsc: hsl(224, 90%, 12%);